:root {
    --bg-clr: black;
    --accent-clr: #f1c058;
    --text-clr: white;
    --input-border-clr: rgb(77, 77, 77, 1);
    --label-txt-clr: rgb(95,95,95,1);
    --attrib-clr: #b88c64;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-clr);
    font-family: 'Roboto Condensed', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
}

img {
    width: 40%;
    height: 100vh;
}

form {
    margin: auto 50px;
    width: 100%;
}

h1, h2, p {
    color: var(--text-clr);
    margin-bottom: 40px;
}

p{
    font-size: 20px;
}

.inputs {
    display: flex;
    gap: 20px;
}

input {
    width: 80%;
    height: 1.5rem;
    border: 1px solid var(--input-border-clr);
    background-color: var(--bg-clr);
    border-radius: 3px;
    color: white;
    text-indent: 10px;
    font-size: 1rem;
}

.left-inputs, .right-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

label {
    color: var(--label-txt-clr);
    font-size: 16px;
}

input:focus{
    outline: none;
    border: 2px solid var(--accent-clr);
}

button {
    color: var(--accent-clr);
    background-color: var(--bg-clr);
    font-weight: bolder;
    font-size: 20px;
    width: 250px;
    height: 50px;
    border: 2px solid var(--accent-clr);
    border-radius: 3px;
    margin-top: 40px;
}

a {
    color: var(--accent-clr);
    text-decoration: none;
    font-weight: bolder;
}

#credits{
    color: var(--attrib-clr);
    position: fixed;
    bottom: 0;
    left: 5px;
}
small a {
    color: var(--attrib-clr);
}








